<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Webserv</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetCustomer</display-name>
    <servlet-name>GetCustomer</servlet-name>
    <servlet-class>GetCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomer</servlet-name>
    <url-pattern>/GetCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomerXML</display-name>
    <servlet-name>GetCustomerXML</servlet-name>
    <servlet-class>GetCustomerXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerXML</servlet-name>
    <url-pattern>/GetCustomerXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHint</display-name>
    <servlet-name>GetHint</servlet-name>
    <servlet-class>GetHint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHint</servlet-name>
    <url-pattern>/GetHint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAgenciesXML</display-name>
    <servlet-name>GetAgenciesXML</servlet-name>
    <servlet-class>GetAgenciesXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgenciesXML</servlet-name>
    <url-pattern>/GetAgenciesXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAgents</display-name>
    <servlet-name>GetAgents</servlet-name>
    <servlet-class>GetAgents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgents</servlet-name>
    <url-pattern>/GetAgents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAgentsXML</display-name>
    <servlet-name>GetAgentsXML</servlet-name>
    <servlet-class>GetAgentsXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgentsXML</servlet-name>
    <url-pattern>/GetAgentsXML</url-pattern>
  </servlet-mapping>
</web-app>